[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
	branch = master
[submodule "i3/scripts"]
	path = i3/scripts
	url = https://github.com/yiuin/i3-wm-scripts.git
	branch = master
[submodule "evil-config"]
	path = evil-config
	url = git@github.com:sunesimonsen/evil-config.git
	branch = master
[submodule "vifm/colors"]
	path = vifm/colors
	url = https://github.com/jubalh/vifm-colors
