#
# Mocha snippets
#

snippet describe "Describe (js)" b
describe('${1:description}', function() {
	$0
});
endsnippet

snippet it "it (js)" b
it('${1:description}', function() {
	$0
});
endsnippet

snippet before "before (js)" b
before(function() {
	$0
});
endsnippet

snippet before "before each (js)" b
beforeEach(function() {
	$0
});
endsnippet

snippet after "after (js)" b
after(function() {
	$0
});
endsnippet

snippet after "after each (js)" b
afterEach(function() {
	$0
});
endsnippet
